/*colors, borders, radiuses, mobile, desktop

/*using important because I'm experiencing some issues with live server*/
/*#main-nav a {
    display:inline !important;
}*/

@media only screen and (min-width: 640px) {
#main-nav {
  padding: 0 0 .2em 1em;
}

/*conditions for top linkein, github*/
 #main-nav a {
   position: relative;
   top: -1em;
   left:.1em;
 }
/*conditions for work,about,resume*/
.page-nav li {
    position: relative;
    top: 2em;
    left: 0px;
}

/*hides the hamburger when the screen expands*/
.icon-menu {
  display: none;
}

.page-nav {
  display: inline-block;
  position: static;
  text-align: left;
  padding-left: 70em;
}

li a {
  text-decoration: none;
}}
/*Ends media query*/
