/*colors, borders, radiuses, mobile, desktop

/*using important because I'm experiencing some issues with live server*/
/*#main-nav a {
    display:inline !important;
}*/

@media only screen and (min-width: 640px) {
#main-nav {
  padding: 0 0 .2em 1em;
}}

/*hides the hamburger when the screen expands*/
@media only screen and (min-width: 640px) {
.icon-menu {
  display: none;
}}

@media only screen and (min-width: 640px) {
.page-nav {
  display: block;
  position: static;
  text-align: left;
}}

li a {
  text-decoration: none;
}
