img {
  width: 50px;
  max-width: 100%; /* so wont exceed container*/
}

.icon-menu {
  font-size: 120%;
  align: right;
}

@media only screen and (min-width: 640px) {
.main-nav {
  float: left;
  padding: 0 0 .2em 1em;
}

/*hides the hamburger when the screen expands*/
@media only screen and (min-width: 640px) {
.icon-menu {
  display: none;
}
